---
const { data } = Astro.props;
import Contribuators from "./Contribuators.astro";
import Tecnology from "./Tecnology.astro";
---

<li class="py-4 w-full flex flex-col lg:flex-row gap-3 lg:gap-5">
  <a
    href={data.preview}
    class="lg:w-1/2 w-full max-w-md mt-1 p-0 hover:scale-[1.03] transition-all duration-[.4s] cursor-pointer"
    target="_blank"
  >
    <img
      src={data.image}
      alt={`${data.title} preview image`}
      class="w-full object-cover rounded-lg"
    />
  </a>
  <div class="w-full lg:w-1/2 flex flex-col gap-2">
    <h3 class="font-bold text-2xl mb-[-5px]">{data.title}</h3>
    <span class="text-[#a0bfee] font-semibold text-sm">{data.date}</span>
    <ul class="flex flex-wrap gap-2">
      {data.tecnologies.map((tecno: string) => <Tecnology data={tecno} />)}
    </ul>
    <h4 class="text-[#cdced1] font-semibold text-sm lg:text-base">
      {data.description}
    </h4>
    <Contribuators data={data.contribuators} />
    <a
      href={data.code ? data.code : data.preview}
      class="px-3 py-2 rounded-lg bg-[#303a4f] hover:brightness-125 transition duration-[.4s] w-fit"
      target="_blank"
    >
      <i
        class={`${data.code ? "fa-brands fa-github" : "fa-solid fa-paperclip"} pr-1`}
      ></i>
      {data.code ? "Code" : "Preview"}
    </a>
  </div>
</li>
